UPDATE bot_sessions 
SET status = 'CERRANDO:' || split_part(status, ':', 2) || ':VALIDANDO' 
WHERE phone_number = '{{ $node["Variables"].json.telefono }}';

UPDATE callcenter_solicitudticket 
SET 
  diagnostico = COALESCE(NULLIF(TRIM(substring($${{ $node["Variables"].json.mensaje_original }}$$ from '(?i)Diagn[o¾]stico:[ ]*([^\n\r-]*)')), ''), $${{ $node["Variables"].json.mensaje_original }}$$),
  actividades = COALESCE(NULLIF(TRIM(substring($${{ $node["Variables"].json.mensaje_original }}$$ from '(?i)Acci[o¾]n realizada:[ ]*([^\n\r-]*)')), ''), 'Ver diagn¾stico'),
  fecha_actividades = COALESCE(
    (to_date(substring($${{ $node["Variables"].json.mensaje_original }}$$ from '(?i)HI:[ ]*([0-9]{1,2}/[0-9]{1,2}/[0-9]{2,4})'), 'DD/MM/YYYY') + COALESCE(NULLIF(TRIM(substring($${{ $node["Variables"].json.mensaje_original }}$$ from '(?i)HI:[ ]*[0-9]{1,2}/[0-9]{1,2}/[0-9]{2,4}[ ]+([0-9]{1,2}:[0-9]{2}[ ]*[a-zA-Z]*)')), '')::time, '00:00'::time))::timestamp + INTERVAL '6 hours',
    (CURRENT_DATE + NULLIF(TRIM(substring($${{ $node["Variables"].json.mensaje_original }}$$ from '(?i)HI:[ ]*([0-9]{1,2}:[0-9]{2}[ ]*[a-zA-Z]*)')), '')::time)::timestamp + INTERVAL '6 hours',
    fecha_actividades
  ),
  fecha_cierre = COALESCE(
    (to_date(substring($${{ $node["Variables"].json.mensaje_original }}$$ from '(?i)HF:[ ]*([0-9]{1,2}/[0-9]{1,2}/[0-9]{2,4})'), 'DD/MM/YYYY') + COALESCE(NULLIF(TRIM(substring($${{ $node["Variables"].json.mensaje_original }}$$ from '(?i)HF:[ ]*[0-9]{1,2}/[0-9]{1,2}/[0-9]{2,4}[ ]+([0-9]{1,2}:[0-9]{2}[ ]*[a-zA-Z]*)')), '')::time, '00:00'::time))::timestamp + INTERVAL '6 hours',
    (CURRENT_DATE + NULLIF(TRIM(substring($${{ $node["Variables"].json.mensaje_original }}$$ from '(?i)HF:[ ]*([0-9]{1,2}:[0-9]{2}[ ]*[a-zA-Z]*)')), '')::time)::timestamp + INTERVAL '6 hours',
    fecha_cierre
  ),
  observaciones = COALESCE(NULLIF(TRIM(substring($${{ $node["Variables"].json.mensaje_original }}$$ from '(?i)Observa[cv]iones:[ ]*([^\n\r-]*)')), ''), 'Ninguna') || 
                  ' | UF: ' || COALESCE(NULLIF(TRIM(substring($${{ $node["Variables"].json.mensaje_original }}$$ from '(?i)UF:[ ]*([^\n\r-]*)')), ''), 'N/A')
WHERE folio = split_part((SELECT status FROM bot_sessions WHERE phone_number = '{{ $node["Variables"].json.telefono }}'), ':', 2)
RETURNING 
  (fecha_cierre < fecha_actividades) as es_negativo,
  (substring($${{ $node["Variables"].json.mensaje_original }}$$ from '(?i)HI:[ ]*([^\n\r-]*)') NOT LIKE '%/%') as hi_sin_fecha,
  (substring($${{ $node["Variables"].json.mensaje_original }}$$ from '(?i)HF:[ ]*([^\n\r-]*)') NOT LIKE '%/%') as hf_sin_fecha;
